.grid-container-articles {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: 500px;
  gap: 60px 32px;
}

@media (max-width: 853px) {
  .grid-container-articles {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 500px;
    gap: 100px 32px;
  }
}

@media (max-width: 653px) {
  .grid-container-articles {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
    gap: 60px 32px;
  }
}
